#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@layer base {
  :root {
      --card-padding: theme("spacing[6]");
      --accordion-padding: theme("spacing[4]");
      --feedback-padding: var(--card-padding);
      --toast-padding: theme("spacing[4]");
      --display-text-color: theme(colors.gray.950);
      --title-text-color: var(--display-text-color);
      --caption-text-color: theme(colors.gray.500);
      --body-text-color: theme(colors.gray.700);
      --placeholder-text-color: theme(colors.gray.400);
      --area-primary-stroke: theme(colors.primary.600);
      --area-secondary-stroke: theme(colors.secondary.600);
      --area-accent-stroke: theme(colors.accent.600);
      --area-gray-stroke: theme(colors.gray.600);
      --area-neutral-stroke: theme(colors.gray.950);
  }
  
  .dark {
      --display-text-color: theme(colors.white);
      --title-text-color: var(--display-text-color);
      --caption-text-color: theme(colors.gray.500);
      --body-text-color: theme(colors.gray.300);
      --placeholder-text-color: theme(colors.gray.600);
  }
}
